{% extends 'TopxiaWebBundle:MyWrongcollection:layout.html.twig' %}

{% block title %}错题纪录 - {{ parent() }}{% endblock %}

{% block list %}
  {% if res %}
    <table class="table table-striped table-hover">
    	<tbody>
    		{% for item in res %}
    				{% include 'TopxiaWebBundle:MyWrongcollection:my-wrong-tr.html.twig' %}
    		{% endfor %}
    	</tbody>
    </table>
    {#{{ web_macro.paginator(paginator) }}#}
  {% else %}
    <div class="empty">您沒有任何錯題，真棒</div>
  {% endif %}

{% endblock %}